.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-menu {
    width: 350px;
    height: 95vw;
    border-right: 2px solid lightgrey;
    display: flex;
    justify-content: start;
    align-items: start;
    transition: 850ms;
    left: -100%;
    position: fixed;
}

#head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

#menu{
    top: 20px;
    padding-left: 20px;
    cursor: pointer;
    position: fixed;
    font-size:x-large;
    font-weight: bold;
   }

#addNote {
    cursor: pointer;
    font-size:x-large;
    font-weight: bold;
}